<%= stylesheet_link_tag 'top', :media => "all" %>
<div class="first-block">
 
   <%= link_to "メニュー", menu_spalas_path,class:"mini" %>
   <%= link_to "口コミへ", spalas_path,class:"mouth" %>
   <%= link_to "診断する", perfumes_path,class:"sin" %>
 
</div>
<div class="second-block">
 <div class="box17">
     <p>SPALAの非公式ホームページ！！使い方はひとそれぞれ</p>
 </div>
</div>

<div class="third-block">
<div class="slide"> 
 <img class="item1" src="/assets/IMG_3256.jpg" alt=""> 
 <img class="item2" src="/assets/IMG_3268.jpg" alt=""> 
 <img class="item3" src="/assets/IMG_3345.jpg" alt="">
</div>
<div class="ion">
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d206852.16818561658!2d139.33058738708496!3d35.896420557470016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018c10e8440b9a3%3A0xf6daf266ea688986!2z55Sf44OR44K544K_5bCC6ZaA5bqXU1BBTEEg44GV44GE44Gf44G-5paw6YO95b-D5bqX!5e0!3m2!1sja!2sjp!4v1694963196216!5m2!1sja!2sjp" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 <div class="adress">
 <p>Spala新都心</p>
 <p>■コクーンのフードコート</p>
 </div>

