  body {
    background-color: #ffcc33;

}
 .star-rating {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 1em;
    font-size: 25px;
  }
  .star-rating-front {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #ffcc33;
  }
  .star-rating-back {
    display: inline-block;
    color: #ccc;

  }
  .spalas-container {
    width: 50%;
    margin: 10px auto;
  }

  h1 {
    text-align: center;
    margin: 10px auto;

  }
  h3 {
    width: 100px;
    margin: 30px auto;
    text-align: center;

  }
  .spala {
    border-top: solid 5px #00acee;
    margin-top: 10px;
    padding-top: 20px;
   
    
  }
  

 .right-con{
   width: 50%;

 }
 .top-container{
  display: flex;
  width: 100%;
 }

 .bottom-container{
  display: flex;
 }



 .left-con{
    width: 50%;
 }

 .bo4{
  display: flex;
 }

 .bo5{
  margin-left: 300px;
  display: flex;

 }

 
