body {
    background-color: rgba(228, 192, 126, 0.37);
    font-family: 'Kaisei Decol', serif;
    font-family: 'Shadows Into Light', cursive;;
}

.field {
    text-align: center;
    font-weight: bold;
    color: azure;
    margin: 40px auto;
    font-size: 50px;
    
}

.field input{
    font-size: 50px;
    background-color: whitesmoke;
    font-family: 'Alata', sans-serif;
    font-family: 'Hind', sans-serif;
    font-family: 'Kaisei Decol', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Special Elite', cursive;


}

.actions{
    text-align: center;

}

.saz {
    background-image: url(/assets/IMG_1113.jpg);
    background-position: center;
   background-size: cover;
   margin-top: 50px;

}



main a {
    color: #e3af12;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    width: 200px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
    text-align: center;
    margin-left: 50px;
  }
  
  main a:hover {
    border-color: #e3af12;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: transparent;
    outline-offset: 12px;
    text-shadow: 2px 2px 3px #000;
  }

  .sss {
    background-color: #1492AF;
    border: 3px solid #1492AF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 1.25rem 4rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}

.sss:hover {
    background-color: #fff;
    color: #1492AF;
}
  
h2 {
    position: relative;
    display: inline-block;
    display: block;
    padding: 0 55px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  h2:before, h2:after {
    content: '';
    position: relative;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }
  
  h2:before {
    left:0;
  }
  h2:after {
    right: 0;
  }
  