* {
    margin: 0;
    padding: 0;
  }
.slide { 
   position: relative; 
   width: 100%; 
   height: 600px; 
   overflow: hidden;
   background-color: transparent;
   } 
@keyframes slideshow{ 
  0%{ 
      opacity: 0;
     } 
  10%{ 
    opacity: 1; 
  } 
  28%{ 
    opacity: 1 
  } 
  38%{ 
    opacity: 0;
   } 
   100%{ 
    opacity: 0;
   } } 

.slide img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: auto; opacity: 0; animation :slideshow 24s linear infinite; background-color: transparent;
} 
.slide img:nth-child(2){ animation-delay: 8s; } 
.slide img:last-child{ animation-delay: 16s; }
.mini {
  display: flex;
  justify-content: center;
  position: relative;
  width: 200px;
  margin-top: 40px;
  padding: .20em 2em;
  border: none;
  border-bottom: 2px solid #e6edf3;
  background-color: transparent;
  color: #0f0e0e;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Kaisei Decol', serif;

  
}

.mini::after {
  position: absolute;
  bottom: 5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center left;
  width: 100%;
  height: 2px;
  background-color: #f14a0e;
  content: '';
  transition: transform .3s ease;
}

.mini:hover::after {
  transform: scaleX(1);
}
.mouth {
  display: flex;
  justify-content: center;
  position: relative;
  width: 200px;
  margin-top: 40px;
  padding: .20em 2em;
  border: none;
  border-bottom: 2px solid #e6edf3;
  background-color: transparent;
  color: #0f0e0e;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Kaisei Decol', serif;
}

.mouth::after {
  position: absolute;
  bottom: 5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center left;
  width: 100%;
  height: 2px;
  background-color: #f14a0e;
  content: '';
  transition: transform .3s ease;
}

.mouth:hover::after {
  transform: scaleX(1);
}
.sin {
  display: flex;
  justify-content: center;
  position: relative;
  width: 200px;
  margin-top: 40px;
  padding: .20em 2em;
  border: none;
  border-bottom: 2px solid #e6edf3;
  background-color: transparent;
  color: #0f0e0e;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Kaisei Decol', serif;
}

.sin::after {
  position: absolute;
  bottom: 5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center left;
  width: 100%;
  height: 2px;
  background-color: #f14a0e;
  content: '';
  transition: transform .3s ease;
}

.sin:hover::after {
  transform: scaleX(1);
}
.box17{
    position: relative;
    padding: 1em 1.5em;
    border-top: solid 2px rgb(217, 37, 37);
    border-bottom: solid 2px rgb(217, 37, 37);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;

}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}
.first-block {
    height: 100px;
    margin: 80; 
    background-color: #dddddd7a;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
  }
  
  .second-block {
    height: 60px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  
  .third-block {
    height: 600px;
    background-color: rgba(228, 192, 126, 0.37);
  }
  
  .ion{
    background-color: rgba(228, 192, 126, 0.37);
    height: 450px;
    display:flex;
  }

  iframe{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 40px;
    height: 350px;
    width:600px;
  }

  .adress{
    margin-top: 40px;
    margin-left: 40px;
    font-weight: bold;
  }
